body {
  background-color: lightgrey;
}
h6 {
  font-size: 30px;
}
.titleRow2 {
  height: 170px;
}
/*set attribute for game title*/
#gameTitle {
  margin-top: 30px;
  margin-bottom: 30px;
}
.scoreRow {
  height: 50px;
}
/*set height for titleRow*/
.titleRow {
  height: 100px;
}
/*set height for player screen*/
.gameRow {
  height: 500px;
}
/*details and position of the 1st screen*/
#P1Screen {
  margin: 0;
  height: 500px;
  width: 457.5px;
  background-color: #151B54;
  border-color: black;
  border-radius: 1%;
  border: 5px solid black;
  position: relative;
}
/*details and position of the 2nd screen*/
#P2Screen {
  margin:0;
  height: 500px;
  width: 457.5px;
  background-color: #151B54;
  border-radius: 1%;
  border: 5px solid black;
  position: absolute;
}

/*Looks of P1 Rocket*/
#rocket1 {
  height: 50px;
  position: relative;
  top: 430px;
  left: 210px;
}
/*Looks of P2 Rocket*/
#rocket2 {
  height: 50px;
  position: relative;
  top: 430px;
  left: 210px;
}
.gameHeight {
  height: 500px;
}

.alien {
  height: 60px;
  display: inline;
}



/* Star */
.star {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: white;
}

/* Alien */
.alien {
  position: absolute;
  height: 55px;

}

.gameOver {
  position: absolute;
  left: -5px;
}

#restartBtn {
  height: 90px;
}

p {
  font-size: 25px;
}
