h1 {
text-align: center;
}
/*set height for titleRow*/
.titleRow {
  height: 100px;
}
/*set height for player screen*/
.gameRow {
  height: 500px;
}
/*details and position of the 1st screen*/
#P1Screen {
  margin: 0;
  height: 500px;
  width: 450px;
  background-color: #151B54;
  border-color: black;
  border-radius: 1%;
  border: 5px solid black;
  position: absolute;
}
/*details and position of the 2nd screen*/
#P2Screen {
  margin:0;
  height: 500px;
  width: 450px;
  background-color: #151B54;
  border-radius: 1%;
  border: 5px solid black;
  position: absolute;
}

/*Looks of P1 Rocket*/
#P1Rocket {
  height: 50px;
  position: relative;
  top: 430px;
  left: 210px;
}
/*Looks of P2 Rocket*/
#P2Rocket {
  height: 50px;
  position: relative;
  top: 430px;
  left: 210px;
}
.gameHeight {
  height: 500px;
}
